In [14]:
import pandas as pd
import os
from IPython.display import display

In [15]:
output_path = '/home/gaurav/python-scripts/py/scripts/pg_project/BTP-ProgSyn/program_synthesis/data/task1/output/'
language = 'finnish-train-low'
unigram = pd.read_pickle(output_path + 'unigram_dfs/' + language + '.p')
source = pd.read_csv(output_path + 'source_csvs/' + language)
del source['Unnamed: 0']
bigram = pd.read_pickle(output_path + 'bigram_dfs/' + language + '.p')
opn_count = pd.read_csv(output_path + 'opn_dfs/opn_count/' + language + '.csv')
del opn_count['Unnamed: 0']
opn_seq_dict = pd.read_json(output_path + 'opn_dfs/op_sequence_dict/' + language + '.json')

In [19]:
for x in opn_seq_dict:
    display(x, pd.read_json(opn_seq_dict[x]['operation_sequence']))

'agnostisuus'

  char  lpos  opn  rpos
0    s    11  del    -1
1    d    11  ins    -1
2    e    12  ins     0
3    l    13  ins     1
4    l    14  ins     2
5    e    15  ins     3

'alamitta'

  char  lpos  opn  rpos
0    a     8  del    -1
1    o     8  ins    -1
2    i     9  ins     0
3    n    10  ins     1
4    a    11  ins     2

'atmosf채채ri'

  char  lpos  opn  rpos
0    s    11  ins     0
1    s    12  ins     1
2    채    13  ins     2

'diplomaatti'

  char  lpos  opn  rpos
0    t    10  del    -2
1    i    11  del    -1
2    i    10  ins    -2
3    l    11  ins    -1
4    l    12  ins     0
5    e    13  ins     1

'geokemia'

  char  lpos  opn  rpos
0    a     8  del    -1
1    o     8  ins    -1
2    i     9  ins     0
3    n    10  ins     1

'heavyrock'

  char  lpos  opn  rpos
0    e    10  ins     0
1    i    11  ins     1
2    l    12  ins     2
3    l    13  ins     3
4    e    14  ins     4

'hiekkas채rkk채'

  char  lpos  opn  rpos
0    채    12  del    -1
1    i    12  ins    -1
2    i    13  ins     0
3    n    14  ins     1

'hyperboloidi'

  char  lpos  opn  rpos
0    a    13  ins     0

'h철pin채'

  char  lpos  opn  rpos
0    s     7  ins     0
1    t     8  ins     1
2    채     9  ins     2

'jokivarsi'

  char  lpos  opn  rpos
0    l    10  ins     0
1    t    11  ins     1
2    a    12  ins     2

'kaoni'

  char  lpos  opn  rpos
0    a     6  ins     0

'kausatiivi'

  char  lpos  opn  rpos
0    e    11  ins     0
1    n    12  ins     1

'kinoa'

  char  lpos  opn  rpos
0    s     6  ins     0
1    s     7  ins     1
2    a     8  ins     2

'kompassisuunta'

  char  lpos  opn  rpos
0    t    13  del    -2
1    a    14  del    -1
2    n    13  ins    -2
3    i    14  ins    -1
4    l    15  ins     0
5    l    16  ins     1
6    e    17  ins     2

'kurssilainen'

  char  lpos  opn  rpos
0    n    10  del    -3
1    e    11  del    -2
2    n    12  del    -1
3    s    10  ins    -3
4    e    11  ins    -2
5    l    12  ins    -1
6    l    13  ins     0
7    a    14  ins     1

'kutri'

  char  lpos  opn  rpos
0    s     6  ins     0
1    s     7  ins     1
2    a     8  ins     2

'laivastopeli'

  char  lpos  opn  rpos
0    e    13  ins     0
1    n    14  ins     1

'maileri'

  char  lpos  opn  rpos
0    k     8  ins     0
1    s     9  ins     1
2    i    10  ins     2

'malja'

  char  lpos  opn  rpos
0    a     5  del    -1
1    o     5  ins    -1
2    i     6  ins     0
3    k     7  ins     1
4    s     8  ins     2
5    i     9  ins     3

'meriantura'

  char  lpos  opn  rpos
0    a    10  del    -1
1    o    10  ins    -1
2    i    11  ins     0
3    k    12  ins     1
4    s    13  ins     2
5    i    14  ins     3

'merihirvi철'

  char  lpos  opn  rpos
0    i    11  ins     0
1    t    12  ins     1
2    채    13  ins     2

'mielikuvitusleikki'

  char  lpos  opn  rpos
0    k    17  del    -2
1    i    18  del    -1
2    e    17  ins    -2
3    i    18  ins    -1
4    l    19  ins     0
5    l    20  ins     1
6    e    21  ins     2

'mindanaonrottasiili'

  char  lpos  opn  rpos
0    i    19  del    -1
1    e    19  ins    -1
2    i    20  ins     0
3    k    21  ins     1
4    s    22  ins     2
5    i    23  ins     3

'neitseellisyys'

  char  lpos  opn  rpos
0    s    14  del    -1
1    d    14  ins    -1
2    e    15  ins     0
3    l    16  ins     1
4    l    17  ins     2
5    채    18  ins     3

'n채kemys'

  char  lpos  opn  rpos
0    s     7  del    -1
1    k     7  ins    -1
2    s     8  ins     0
3    e     9  ins     1
4    n    10  ins     2
5    채    11  ins     3

'pakkanen'

  char  lpos  opn  rpos
0    n     6  del    -3
1    e     7  del    -2
2    n     8  del    -1
3    s     6  ins    -3
4    i     7  ins    -2
5    s     8  ins    -1
6    t     9  ins     0
7    a    10  ins     1

'piina'

  char  lpos  opn  rpos
0    a     6  ins     0
1    n     7  ins     1

'professorinvirka'

  char  lpos  opn  rpos
0    k    15  del    -2
1    a    16  del    -1
2    o    15  ins    -2
3    i    16  ins    -1
4    l    17  ins     0
5    t    18  ins     1
6    a    19  ins     2

'pukkaus'

  char  lpos  opn  rpos
0    s     7  del    -1
1    k     7  ins    -1
2    s     8  ins     0
3    e     9  ins     1
4    t    10  ins     2

'raateluhammas'

  char  lpos  opn  rpos
0    m    11  del    -3
1    a    12  del    -2
2    s    13  del    -1
3    p    11  ins    -3
4    a    12  ins    -2
5    i    13  ins    -1
6    l    14  ins     0
7    l    15  ins     1
8    a    16  ins     2

'rokkari'

  char  lpos  opn  rpos
0    l     8  ins     0
1    l     9  ins     1
2    a    10  ins     2

'r채pse'

  char  lpos  opn  rpos
0    i     6  ins     0
1    k     7  ins     1
2    s     8  ins     2
3    i     9  ins     3

'sivuovi'

  char  lpos  opn  rpos
0    i     7  del    -1
1    e     7  ins    -1
2    a     8  ins     0

'sprintteri'

  char  lpos  opn  rpos
0    i    10  del    -1
1    e    10  ins    -1
2    i    11  ins     0
3    h    12  ins     1
4    i    13  ins     2
5    n    14  ins     3

'staalo'

  char  lpos  opn  rpos
0    i     7  ins     0
1    k     8  ins     1
2    s     9  ins     2
3    i    10  ins     3

'stuntti'

  char  lpos  opn  rpos
0    t     6  del    -2
1    i     7  del    -1
2    i     6  ins    -2
3    l     7  ins    -1
4    l     8  ins     0
5    a     9  ins     1

'sukupuoliobjekti'

  char  lpos  opn  rpos
0    l    17  ins     0
1    l    18  ins     1
2    e    19  ins     2

'suojavarustus'

  char  lpos  opn  rpos
0    s    13  del    -1
1    k    13  ins    -1
2    s    14  ins     0
3    i    15  ins     1
4    s    16  ins     2
5    s    17  ins     3
6    a    18  ins     4

'tarkkailu'

  char  lpos  opn  rpos
0    n    10  ins     0
1    a    11  ins     1

'tavaramerkki'

  char  lpos  opn  rpos
0    k    11  del    -2
1    i    12  del    -1
2    e    11  ins    -2
3    i    12  ins    -1
4    k    13  ins     0
5    s    14  ins     1
6    i    15  ins     2

'ukuli'

  char  lpos  opn  rpos
0    s     6  ins     0
1    t     7  ins     1
2    a     8  ins     2

'vihersipuli'

  char  lpos  opn  rpos
0    i    11  del    -1
1    e    11  ins    -1
2    i    12  ins     0
3    k    13  ins     1
4    s    14  ins     2
5    i    15  ins     3

'viskat큄a'

  char  lpos  opn  rpos
0    a     8  del    -1
1    o     8  ins    -1
2    i     9  ins     0
3    k    10  ins     1
4    s    11  ins     2
5    i    12  ins     3

'ylt채kyll채isyys'

  char  lpos  opn  rpos
0    s    14  del    -1
1    d    14  ins    -1
2    e    15  ins     0
3    t    16  ins     1

'yst채vyyskaupunki'

  char  lpos  opn  rpos
0    i    16  del    -1
1    e    16  ins    -1
2    j    17  ins     0
3    a    18  ins     1

In [ ]:
rw_vector = pd

In [3]:
import pandas as pd
g = pd.DataFrame.from_dict({'2': {'4': 0, '5': 1}})
g.columns

Index(['2'], dtype='object')